{% extends "layout.html" %}

{% block title %}
    Textile Releases
{% endblock %}

{% block main %}


    <div class="bg-custom">
        <h3 style="color: white">Welcome Back!</h3>
    </div>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Planta Key</th>
                
                <th scope="col">Ciudad</th>
                <th scope="col">Municipio/Estado</th>
                <th scope="col">Código Postal</th>
                <th scope="col">Teléfono de Contacto</th>
                <th scope="col">Nombre de Contacto</th>
                <th scope="col" >Prendas Solicitadas</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for release in releases %}
                <tr>
                    <td >{{ release.id }}</td>
                    <td>{{ release.planta_key }}</td>
                    
                    <td>{{ release.ciudad }}</td>
                    <td>{{ release.municipio_estado }}</td>
                    <td>{{ release.codigo_postal }}</td>
                    <td>{{ release.telefono_contacto }}</td>
                    <td>{{ release.nombre_contacto }}</td>
                    <td>{{ release.prendas_solicitadas }}</td>
                    <td>{{ release.fecha }}</td>

                    <td>
                        <select class="form-select form-selector" id="status-{{ release.id }}" name="{{ release.id }}">
                            <option value="in_progress" {% if release.status == 'in_progress' %} selected {% endif %}>En Proceso</option>
                            <option value="delivered" {% if release.status == 'delivered' %} selected {% endif %}>Entregado</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-danger delete-btn" data-id="{{ release.id }}">
                            <i class="fa fa-trash"></i> Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Add change event listener to all select elements with class 'form-selector'
            $('.form-selector').change(function() {
                // Get the selected option value
                var selectedValue = $(this).val();

                // Get the ID of the select element
                var releaseId = $(this).attr('id').split('-')[1]; // Extract release ID from the ID attribute

                // Select the select element by ID
                var selectElement = $('#status-' + releaseId);

                // Remove previous color classes
                selectElement.removeClass('bg-progress bg-success');

                // Add appropriate color class based on selected value
                if (selectedValue === 'in_progress') {
                    selectElement.addClass('bg-progress');
                } else if (selectedValue === 'delivered') {
                    selectElement.addClass('bg-success');
                }

                // Update the status in the database
                $.ajax({
                    url: '/update_status', // Change this to the route that updates the status
                    type: 'POST',
                    data: { release_id: releaseId, status: selectedValue },
                    success: function(response) {
                        // Handle success response
                        console.log('Status updated successfully');
                    },
                    error: function(xhr, status, error) {
                        // Handle error response
                        console.error('Error updating status:', error);
                    }
                });
            });
        });
    </script>


{% endblock %}
