<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- Include jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">

        <title>Mundo Textil {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="bg-custom border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">

                <a class="navbar-brand" href="/">
                    <img src="/static/MundoTextil-removebg-preview.png" width="45" alt="" class="d-inline-block align-middle mr-2">
                    <span >MUNDO TEXTIL</span>
                
                
                </a>
                
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item {% if request.path == '/release' %}active{% endif %}">
                                <a class="nav-link" href="/release">Capturar</a>
                            </li>
                            <li class="nav-item {% if request.path == '/colors' %}active{% endif %}">
                                <a class="nav-link" href="/colors">Colores</a>
                            </li>
                            <li class="nav-item {% if request.path == '/search_colors' %}active{% endif %}">
                                <a class="nav-link" href="/search_colors">Buscar Colores</a>
                            </li>
                            <li class="nav-item dropdown {% if request.path in ['/search_date', '/search_name', '/search_id'] %}active{% endif %}">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Buscar Release</strong></a>
                                <ul class="dropdown-menu bg-custom">
                                    <li class="dropdown-item"><a style="color:rgb(54, 54, 54)" href="/search_date"><strong>Por Fecha</strong></a></li>
                                    <li class="dropdown-item"><a style="color:rgb(54, 54, 54)" href="/search_name"><strong>Por Nombre</strong></a></li>
                                    <li class="dropdown-item"><a style="color:rgb(54, 54, 54)" href="/search_id"><strong>Por ID</strong></a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Cerrar Sesión</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Registrarse</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Acceder</a></li>
                        </ul>
                    {% endif %}
                </div>
                
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer class="mb-5 small text-center text-muted">

            Developed By Igmhar Sanchez For CS50

            
          
        </footer>

    </body>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    


</html>
