{% extends "layout.html"%}


{% block title %}
    Search by colors
{% endblock %}

{% block main %}

<h3 style="color:#7d97e3"><strong><em>Buscar Por ID de colores</em></strong></h3>
<p></p>

<input autocomplete="off" autofocus placeholder="ID" type="text" size="40" width="20">

<table class="table table-striped" >
    <thead >
        <tr>
            <th rowspan="2">Textile Release ID</th>
            <th rowspan="2">Color</th>
            <th colspan="10">Size</th>
        </tr>
        <tr>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
            <th>3XL</th>
            <th>4XL</th>
            <th>5XL</th>
            <th>6XL</th>
        </tr>
    </thead>
    <tbody id="body"></tbody>
</table>
<script>
    let input = document.querySelector('input');
    input.addEventListener('input', async function() {
        let response = await fetch('/search_colors/search?q=' + input.value);
        let data = await response.json();
        let sizes = {}; // Object to store total quantities for each size
        for (let item of data) {
            let key = `${item.textile_release_id}-${item.color}`; // Unique key for each combination of ID and color
            if (!sizes[key]) {
                sizes[key] = {};
            }
            sizes[key][item.size] = item.total_quantity; // Store total quantity for each size
        }
        let html = '';
        for (let key in sizes) {
            let [textile_release_id, color] = key.split('-');
            html += `<tr class= "">
                        <td>${textile_release_id}</td>
                        <td>${color}</td>`;
            for (let size of ['XS', 'S', 'M', 'L', 'XL', '2XL', '3XL', '4XL', '5XL', '6XL']) {
                html += `<td>${sizes[key][size] || 0}</td>`;
            }
            html += `</tr>`;
        }
        document.querySelector('tbody').innerHTML = html;
    });
</script>





{% endblock %}